################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/src/v17
/src/Exercise_7/bin/Debug
/src/Exercise_7/obj/Debug
